@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Samosa Lovers!!</h1>
    <p>Have a look at some real Samosas <a href="https://www.google.com/search?sca_esv=14c9acc35e76766d&rlz=1C1OPNX_enIN1059IN1060&sxsrf=ADLYWILvT1GC4Ch-1HVftd2PdSRarxCUsg:1731438682652&q=samosa+pictures&udm=2&fbs=AEQNm0CvspUPonaF8UH5s_LBD3JPX4RSeMPt9v8oIaeGMh2T2D1DyqhnuPxLgMgOaYPYX7OtOF4SxbM4YPsyWUMdeXRPnkQc3caC_NEMjyGZlBqX7YDVSc-lk14rE2h7j-ln6ORWjT4WxqVC6FS82YpEwEqqnkJJKpHqKGrk5ZhbNsOcE3i19GRoFANVfwr_gZS3oWcL17KMyupN4i8_p5OTUvqC1CSN_g&sa=X&ved=2ahUKEwjdx4Tdv9eJAxXfrlYBHdLuAE4QtKgLegQIFRAB&biw=709&bih=611&dpr=1.35"></a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
